<p>header works!</p>
<button (click)="loadLoginComponent()" [routerLink]="'login'">Login</button>
<div [hidden]="hide">
<app-login></app-login>
</div>
<button (click)="loadRegister()" [routerLink]="'register'">Register</button>
<div [hidden]="hide">
<app-register></app-register>
</div>

<button (click)="loadReactive()" [routerLink]="'reactive'">Reactive Login Form</button>
<div [hidden]=hide>
<app-reactive></app-reactive>
</div>
<p *ngIf="showParam">The component is visible using subject concept</p>